div.footer-wrapper {
  width: 100%;
  margin: auto;
  background-color: var(--color-white);
  position: fixed;
  bottom: 0;
  z-index: 1;
}

div.footer {
  width: 100%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: center;
  color: var(--color-black);
  font-size: normal;
}

